# Ambiente virtual
venv/
.venv/

# Variáveis de ambiente (credenciais)
.env

# Cache do Python
__pycache__/
*.pyc
.pytest_cache/

# Arquivos de configuração de IDE
.vscode/
.idea/

# Bases de dados locais (se usar SQLite)
*.db
*.sqlite3
